.pow-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pow-container .pow-input {
  width: 48%;
}
.pow-container .pow-input > h2 {
  margin-bottom: 10px;
}
.pow-container .pow-input .input-data {
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
  box-sizing: border-box;
}
.pow-container .pow-input .nonce-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pow-container .pow-input .nonce-container .input-nonce {
  width: 90%;
  height: 40px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  padding-left: 10px;
  box-sizing: border-box;
}
.pow-container .pow-input .nonce-container > button {
  width: 10%;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #5c7cfa;
  cursor: pointer;
}
.pow-container .pow-input .mine-container {
  width: 100%;
}
.pow-container .pow-input .mine-container .input-difficulty {
  width: 30%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  padding-left: 10px;
  box-sizing: border-box;
}
.pow-container .pow-input .mine-container > button {
  width: 69%;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #5c7cfa;
  cursor: pointer;
}

.pow-container .pow-output {
  width: 48%;
}
.pow-container .pow-output > h2 {
  margin-bottom: 10px;
}

.pow-container .pow-output .data-container {
  width: 100%;
  border: 1px solid rgb(235, 235, 235);
  box-sizing: border-box;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 6px 1px rgb(0 0 0 / 9%);
}
.pow-container .pow-output .data-container .data {
  margin-bottom: 10px;
}
.pow-container .pow-output .data-container .data .prevhash {
  padding: 5px 10px;
  height: 15px;
  color: #fff;
  border-radius: 10px;
  background-color: #9775fa;
}
.pow-container .pow-output .data-container .data .output-data {
  padding: 5px 10px;
  height: 15px;
  color: #fff;
  border-radius: 10px;
  background-color: #748ffc;
}
.pow-container .pow-output .data-container .data .hash {
  padding: 5px 10px;
  height: 15px;
  color: #fff;
  border-radius: 10px;
  background-color: #4dabf7;
}

/* 블럭 정보*/
.blockinfo-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.blockinfo-container .blockinfo {
  width: 32%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(231, 222, 255);
  margin: 0px 14px 20px 0px;
  box-shadow: 3px 3px 6px 1px rgb(0 0 0 / 9%);
}
.blockinfo-container .blockinfo p {
  color: #828282;
}

.blockinfo-container .block-data {
  margin-bottom: 10px;
  overflow: hidden;
  padding: 5px 10px;
  height: 15px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 3px 3px 6px 1px rgb(0 0 0 / 9%);
}
